Debug/
Release/
x64/
test/x64
RMPGEngine/Data
RMPGEngine/Debug
RMPGEngine/Libs
RMPGEngine/x64
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj
*.pdb
*.ilk
*.lib
*.exe
*.dll
.ipch/
*.ini
.vs/